<h3>Sign Up<h3>

<% if current_user && current_user.errors.any? %>
    <%current_user.errors.full_messages.each do |m|%>
<p class="danger"><%= m%></p>
    <%end%>
<%end%>
<form action="/signup"method="post">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <input type="submit" value="Sign Up">
</form>

<a href="/Login">Log In</a>