<h3> GET READY FOR A GREAT EXPERIENCE!</h3>
<a href= "/cocktails/new">Create New Cocktail</a><br>

 <%  @cocktails.each do |cocktail|%>
  <a href= "/cocktails/<%=cocktail.id%>"> <%= cocktail.name%> </a>  <br>
<%end%> 

<h3>Log Out<h3>
<form method="delete" action="/logout">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>




