<h2>Let's create some cocktails!<h2>

<form action= "/cocktails" method= "post">
<input type= "text" name="name" placeholder="Name">
<input type= "text" name="ingredients" placeholder="Ingredients">
<input type= "text" name="private_note" placeholder="Private Note">
<input type= "submit" value="Create Cocktail">
</form>
<br>
<a href= '/cocktails'>dashboard</a>


