<h3>Welcome</h3>

 <% if @u.cocktails%>
    <h4>Search Cocktails:</h4>
      <form action= "/get_cocktail" method="post"></form>
       <input type= "search"  name= "_method">
       <input type= "submit" value= "Search">
       </form>
<%end%> 
